.app-todo{
    &__container{
        margin-right: 50px;
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 50px;
        gap: 30px;
    }
    @media (max-width: 1305px) {
        &__container{
            justify-content: center;
        }
      }
    &__card{
        width: 350px;
    }
    &__title{
        padding-bottom: 16px;
    }
}
.mat-checkbox-checked{
    .app-todo__checkbox-label{
        text-decoration: line-through;

    }
}