<div class="app-todo__container">
    <mat-card class="example-card app-todo__card" *ngFor="let project of projects$ | async; trackBy: trackByFn">
      <mat-card-header>
        <span class="app-todo__title"> {{ project.title | uppercase}} </span>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item
          class="app-todo__list-item"
          *ngFor="let todo of project.todos; trackBy: trackByFn"
          [class.todo-is-completed]="todo.isCompleted"
        >
          <mat-checkbox
            [checked]="todo.isCompleted"
            class="app-todo__checkbox-default"
            (change)="switchTodoIsCompleted(project, todo)"
            color="primary"
          >
            <span class="app-todo__checkbox-label">
              {{ todo.text }}
            </span>
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>